@args int cookie,  ArrayList<auction.Auction> auctions, String username
<!DOCTYPE html>
<html style="font-size: 16px;">

  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="Auction House">
    <meta name="description" content="">
    <meta name="page_type" content="np-template-header-footer-from-plugin">
    <meta name="theme-color" content="#478ac9">
    <meta property="og:title" content="payments">
    <meta property="og:type" content="website">
    <title>Payments</title>
    <link rel="stylesheet" href="https://drive.google.com/uc?id=1PjOz0t4R1DDs9_j_mLc90MPUli5jMHe1" media="screen">
    <link rel="stylesheet" href="https://drive.google.com/uc?id=16L_8ML38eh9P3L-UR4Hj3h2j8wJDAvWM" media="screen">
    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i">
    <script class="u-script" type="text/javascript" href="https://drive.google.com/uc?id=1R_LsPlojTBfKjaLFZsmz_XHGwcFToW0Z" defer=""></script>
    <script class="u-script" type="text/javascript" href="https://drive.google.com/uc?id=1SYflZJXCCYgbtTTUu0RkyWSDFG3BhIir" defer=""></script>
    <script>	
      document.cookie = "cookie = @cookie" 
    </script>
  </head>
  
  <body background="https://drive.google.com/uc?id=1zWqNFwlhP6bVOsuspOEZV5aQHYY56BII" class="u-body u-image" style="background-position: 50% 50% ; background-attachment: fixed;">
    <header class="u-clearfix u-header u-palette-4-dark-2 u-header" id="sec-b42a">
      <div class="u-clearfix u-sheet u-sheet-1">
        <a href="/home?cookie=@cookie" class="u-image u-logo u-image-1" data-image-width="512" data-image-height="512">
          <img src="https://drive.google.com/uc?id=1JCaE2DLg3qk_daWs81GI9r9iGoMEF06x" class="u-logo-image u-logo-image-1" data-image-width="89.95">
        </a>
        <h2 class="u-text u-text-1">Auction House</h2>
        <a href="/home?cookie=@cookie" class="u-border-none u-btn u-btn-round u-button-style u-hover-palette-1-light-1 u-radius-50 u-text-palette-4-dark-2 u-white u-btn-1">HOME</a>
        <a href="/myProfile?cookie=@cookie" class="u-border-none u-btn u-btn-round u-button-style u-hover-palette-1-light-1 u-radius-50 u-text-palette-4-dark-2 u-white u-btn-2">PROFILE</a>
        <a href="https://nicepage.com/c/industrial-website-templates" class="u-border-none u-btn u-btn-round u-button-style u-hover-palette-1-light-1 u-radius-50 u-text-palette-4-dark-2 u-white u-btn-3">CHAT</a>
      </div>
    </header>
    <section class="u-clearfix u-image u-section-1" id="sec-d036" data-image-width="1834" data-image-height="1080">
      <div class="u-clearfix u-sheet u-sheet-1">
	    <h4 class="u-text u-text-default u-text-1">Outgoing<span style="font-size: 1.875rem;"></span></h4>
	  
	   @for (auction.Auction ac: auctions) {
				@if(s().eq(ac.getHighestBidder(),username)){
					 <div class="u-container-style u-group u-palette-1-light-3 u-shape-rectangle u-group-1">
						<div class="u-container-layout u-container-layout-1">
							<img class="u-image u-image-default u-image-1" src="data:image/png;base64, @(ac.getThumbnail())" alt="" data-image-width="1000" data-image-height="1500">
							<h5 class="u-text u-text-default u-text-palette-4-dark-2 u-text-2">@(ac.getName())<br>
							</h5>
							<a href="/checkPayment?cookie=@cookie&auctionID=@(ac.getId())" class="u-border-none u-btn u-btn-round u-button-style u-hover-palette-1-light-1 u-palette-4-dark-2 u-radius-50 u-btn-1">check payment<br>
							</a>
						</div>
					</div>
				}
			}
		<h4 class="u-text u-text-default u-text-1">Incoming<span style="font-size: 1.875rem;"></span></h4>
		 @for (auction.Auction ac: auctions) {
			 @if(s().eq(ac.getOwner(),username)){
						 <div class="u-container-style u-group u-palette-1-light-3 u-shape-rectangle u-group-1">
							<div class="u-container-layout u-container-layout-1">
								<img class="u-image u-image-default u-image-1" src="data:image/png;base64, @(ac.getThumbnail())" alt="" data-image-width="1000" data-image-height="1500">
								<h5 class="u-text u-text-default u-text-palette-4-dark-2 u-text-2">@(ac.getName())<br>
								</h5>
								<a href="/checkPayment?cookie=@cookie&auctionID=@(ac.getId())" class="u-border-none u-btn u-btn-round u-button-style u-hover-palette-1-light-1 u-palette-4-dark-2 u-radius-50 u-btn-1">check payment<br>
								</a>
							</div>
						</div>
				}
			}
      </div>
    </section>
    <section class="u-backlink u-clearfix u-grey-80">
        <span>Powered by</span>
      <a class="u-link" href="https://github.com/IngSW-unipv/Progetto-E21" target="_blank">
        <span>Team progetto E-21</span>
      </a>. 
    </section>
  </body>
  
</html>